
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .top{
        display: flex;
        justify-content: space-around;
        width: 100%;

        .skills {
            width: 25%;
            display: flex;
            margin-top: 5%;

            .techSkills{
                margin-right: 20%;

                h3{
                    margin-bottom: 20%;
                }

                li{
                    color: white;
                    font-size: 1.5rem;
                    list-style: circle;
                    padding-bottom: 2%;
                    }
            }

            h3{
                margin-bottom: 10%;
            }

            li{
            color: white;
            font-size: 1.5rem;
            list-style: circle;
            padding-bottom: 2%;
            }
        }
        .aboutMe{
            width: 25%;
            margin-top: 5%;

            h3{
                margin-bottom: 10%;
            }

            p{
                color:white;
                font-size: 1.5rem;
                line-height: 1.8rem;
            }

            a{
                color: white;
                font-size: 1.2rem;
                padding: 2%;
            }
        }    
    }

    .projectContainer{
        border : 1px solid white;
        border-radius: 20px;
        margin-top: 10%;
        padding: 3%;
        width: 70%;
        background: rgba(195, 154, 201, 0.548);

        h3{
            margin-top: 0;
            margin-bottom: 2%;
            color: black;
            text-align:center;
        }

        h5{
            text-align: center;
            padding-top: 5%;
        }

        .myWork{
            color: white;
            display: flex;
            flex-wrap: wrap;

            .project{
                border: 1px solid black;
                background: white;
                color: black;
                box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.438);
                width: 300px;
                height: 400px;
                margin: auto;
                border-radius: 10px;
                
                img{
                    width: 100%;
                    height: 50%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                h4, p {
                    padding: 5%;
                }
            }
        }
    }
    
    h3{
        color: white;
        font-size: 2rem;        
    }
}








