.skillsBox h1, .contact h3{
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.skills {
   
}


li{
    color: white;
   font-size: 1.5rem;
   list-style: circle;
}
.top{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 5%;

    
    // @media (max-width: 1150px){
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }
}