
.aboutMe{
    .light();
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    h2{
        margin: 5% 0;
    }
    .description{
        width: 80%;
        p{
        font-size: 1.1rem;  
        }      
    }    
}
.myWork{
    .dark();
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    padding: 2%;
    .title{
        display: flex;
        justify-content: center;        
        width: 50%;
        h3{
            margin: 5% 0;
        }
    }
    .cards{
        display: flex;
        justify-content: space-around;
        color: black;
        .card{            
            box-shadow: 5px 5px 10px 10px @purple;
            margin: 2%;
            img {
                height: 200px;
                border-bottom: 1px solid gray;
            }
            .card-body{
                border-top: 1px solid lightgray;
            }
        }
    }
}

.skills {
    .light();
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
    h2{
        height: 50px;
    }
    svg{
        margin: 1%;
        max-width: 200px;
    }
}

.row{
    .dark();
    width: 100%;
    display: flex;
    padding: 2%;
    margin: auto;
    justify-content: center;
    .medium-6-columns{
        width: 50%;
        padding: 2%;
        
        }
        h3{
            text-align: center;
        }
        ::placeholder{
            color: gray;
        }
        textarea{
            margin-bottom: 3%;
            height: 100px;
        }
        label{
            color: @purple;
            font-size: 1rem;
        }
    }

